* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 50px auto;
    background-color: #101010;
    word-wrap: break-word;
}

header h1 {
    font-size: 80px;
    margin: 0px;
    color: white;
}

header h2 {
    font-size: 40px;
    margin: 0px;
    color: #888;
    font-style: italic;
}
header h3 {
    font-size: 30px;
    margin: 0px;
    color: #888;
    font-style: italic;
}

p,marquee{
	font-size: 35px;
    font-style: italic;
}

footer p{
    text-align: center;
    font-size: 10px;
    color: #888;
}

.card{
	float:left;
    margin: 10px;
    padding: 20px;
    height: 550px;
}

.content{
	overflow: hidden;
    margin: auto;
}

.center_info{
    margin-left: 5%;
}

.top_bar{
    text-align: left;
	background-color:#666666;
    width: auto;
    height: 50px;
    padding-left: 15px;
    margin: auto;
    border-radius: 5px;
}

.left_bar{
	float:left;
	background-color: #666666;
	width: 10%;
    height: 550px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.center{
	float: left;
    width: auto;
    height: 550px;
    border-radius: 5px;
}
.right_bar{
	float:left;
	background-color: #666666;
	width: 10%;
    height: 550px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
